body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #FFDAAE;
}

main {
    padding: 100px;
}

.picture,
.form {
    display: inline-block;
    vertical-align: top;
    width: 43%;
}

.picture img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    max-height: 382px;
}

.form {
    background: #1E1E1E;
    color: white;
    padding: 55px;
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 370px;
    height: 272px;
}

.form label,
input {
    display: block;
    margin: 20px 0;
    width: 100%;
    max-height: 254px;
}

.form input {
    background: #1E1E1E;
    border: none;
    border-bottom: .1px solid rgb(255, 255, 255);
    padding-bottom: 7px;
    color: white;
}

.form input:focus,
.form input:active {
    outline: none;
}

.form input::placeholder {
    color: white;
}

input[type="submit"] {
    background: rgb(237, 183, 125);
    border: none;
    color: white;
    border-radius: 4px;
    padding: 12px;
    width: fit-content;
}